body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url("Shoppimh.jpg");
    background-size: cover;
}

.navbar {
    background-color: #d9b3ff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 16px;
}

.navbar .home-button {
    border-radius: 8px;
    transition: background-color 0.5s ease, color 0.5s ease;
    padding: 8px 16px;
    
}

.navbar .home-button:hover {
    background-color: #77cdfd;
    color: white;
}

.navbar .location-button {
    border-radius: 8px;
    transition: background-color 0.5s ease, color 0.5s ease;
    padding: 8px 16px;
    
}

.navbar .location-button:hover {
    background-color: #77cdfd;
    color: white;
}

.navbar .aboutus-button {
    border-radius: 8px;
    transition: background-color 0.5s ease, color 0.5s ease;
    padding: 8px 16px;
    
}

.navbar .aboutus-button:hover {
    background-color: #77cdfd;
    color: white;
}

.navbar .contact-button {
    border-radius: 8px;
    transition: background-color 0.5s ease, color 0.5s ease;
    padding: 8px 16px;
    
}

.navbar .contact-button:hover {
    background-color: #77cdfd;
    color: white;
}

.navbar .help-button {
    border-radius: 8px;
    transition: background-color 0.5s ease, color 0.5s ease;
    padding: 8px 16px;
    
}

.navbar .help-button:hover {
    background-color: #77cdfd;
    color: white;
}

.navbar .signup-button {
    border-radius: 8px;
    transition: background-color 0.5s ease, color 0.5s ease;
    padding: 8px 16px;
    
}

.navbar .signup-button:hover {
    background-color: #77cdfd;
    color: white;
}

.navbar .logo {
    width: 30px;
    margin-right: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.welcome-text {
    max-width: 50%;
    text-align: left;
}

.welcome-text h1 {
    color: #cc0066;
    font-size: 36px;
    margin-bottom: 10px;
}

.welcome-text p {
    font-size: 18px;
    line-height: 1.5;
}

.images-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.shopping-image {
    width: 150px;
    height: auto;
    border-radius: 10px;
}