body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url("Shoppimh.jpg");
    background-size: cover;
}

.navbar {
    background-color: #d9b3ff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.5s ease, color 0.5s ease;
    padding: 8px 16px;
}

.navbar a:hover {
    background-color: #77cdfd;
    color: white;

}

.navbar .logo {
    width: 30px;
    margin-right: 20px;
}

.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.offers {
    width: 40%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.offers h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: #333;
}

.offers h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 2px 6px;
    margin-top: 10px;
}

.offers ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.offers ul li {
    margin: 12px 0;
    font-size: 16px;
    color: #333;
}

.offers p {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
}

.map-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #575fcf;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.map-button:hover {
    background-color: #4838b4;
}

.mall-image {
    width: 60%;
    display: flex;
    align-items: center;
}

.mall-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
